{% extends "layout.html" %}
{% block title %}Cart{% endblock %}

<!-- content -->
{% block content %}
<div class="container-fluid">
    <div class="h4" style="text-align: center;margin-top: 1rem;">My Cart</div>
    <table class="table text-dark bg-light">
        <thead>
            <tr>
                <th>Image</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Subtotal</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% set ns = namespace(total=0) %}
            {% for row in rows %}
            <tr>
                <td>
                    {% if row["image"] %}
                        <img src="{{row['image']}}" style="width: 10rem; height: auto;" alt="{{row['name']}}">
                    {% else %}
                        <img src="https://via.placeholder.com/50" alt="placeholder">
                    {% endif %}
                </td>
                <td>
                    <!-- when the user clicks on the product name in the cart, they will be taken to the product details page for that specific product -->
                    <a href="{{ url_for('shop.product_page', product_id=row['product_id']) }}">
                        {{row["name"]}}
                    </a>
                </td>
                <td style="width:10em">
                    <form method="POST">
                        <div class="row">
                            <input type="hidden" name="product_id" value="{{row['product_id']}}" />
                            <div class="col">
                                <input type="number" class="form-control" name="quantity"
                                    value="{{row['quantity']}}" />
                            </div>
                            <div class="col d-grid">
                                <input type="submit" value="Update"
                                    class="btn btn-secondary btn-sm" />
                            </div>
                        </div>
                    </form>
                </td>
                <td>${{row['subtotal']}}</td>
                <td>
                    <!-- lazy delete using quantity < 0 logic -->
                    <form method="POST">
                        <input type="hidden" name="product_id" value="{{row['product_id']}}" />
                        <input type="hidden" name="quantity" value="-1" />
                        <button type="submit" class="btn btn-danger btn-sm">
                            <i class="bi bi-trash"></i>
                        </button>
                    </form>
                    <!-- Add edit button: https://developer.mozilla.org/en-US/docs/Web/API/Window/location -->
                    {% if current_user.is_authenticated and current_user.has_role("Admin") %}
                        <button type="button" class="btn btn-warning" style="margin-top: 1rem;" onclick=window.location.href='{{ url_for('shop.product', id=row['product_id']) }}'>Edit ITEM</button>
                    {% endif %}
                </td>
                {% set ns.total = ns.total + row['subtotal'] %}
            </tr>
            {% endfor %}
            <tr>
                <td>
                    <form action="{{ url_for('shop.clear_cart') }}" method="POST">
                        <button type="submit" class="btn btn-danger btn-sm">
                            <i class="bi bi-trash"></i> Clear Cart
                        </button>
                    </form>
                </td>
                <!-- adding checkout button gnb5 4/23-->
                <td><a href="{{ url_for('shop.checkout') }}" class="btn btn-primary">Proceed to Checkout</a></td>
                <td class="text-end" colspan="100%">
                    <h4>Total: ${{ns.total or 0}}</h3>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
