{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="h1 text-center text-warning">Ducks In a Row</div>
    <div class="w-50 mx-auto bg-light text-center caption border">
        At Ducks In A Row, we help
        organize your companies and employees all in one simple dashboard.
    </div>
    <div class="lead text-center">Brought to you by Grace (gnb5) from section IS601-004
        {# implemented by gnb 4/5/23 #}
    </div>
</div>
{% endblock %}